@model Viksa.Store3.Web.Models.Orders.ViewOrderLineModel


    <tr>
        <td>@Html.DisplayFor(model => model.ProductName)</td>
        <td>@Html.DisplayFor(model => model.NumberOfUnits)</td>
        <td>@Html.DisplayFor(model => model.OriginalPricePerUnit)</td>
        <td>@Html.DisplayFor(model => model.FinalPricePerUnit)</td>
        <td>@Html.DisplayFor(model => model.TotalPrice)</td>
    </tr>
